body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  padding: 50px;
  background-color: aqua;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.btn{
  margin-top: 20px;
  justify-content: center;
}

.btn-1{
  margin-left: 10px;
}
